<h1>About us</h1>
<p>ABOUT US 

The project seeks to provide a meaningful way to distribute unwanted, albeit useful items to benefit the needy (home appliances, home furniture, medical aids, mobility aids, learning aids & etc). With GiftsSG , your used item can be given a new lease of life, and to better the life of needy! 
</p>


