<h1>Contact Us</h1>
<p>If you wish to contact us, our contact information is as follows. </p>
<br/>
<br/>
<br/>



<p><strong> GiftsSg </strong></p>

<p> 819 Upper Serangoon Road <br/>
Singapore 534678    <br/> 
Mobile: +65-85119360 (Ms. Jane Doe) <br/>
Fax: +65-62833748 <br/>
Email: giftsSg@giftsSg.org
</p>
<p>Please call during: </p> 
<p>Mondays to Fridays Only - 9am to 5pm, Except Public Holidays </p>
