<div class ='container'>
  
<%= form_with scope: :reserve, url: reserves_path, local: true do |form| %>
  
      <%= form.text_field :@user.id %>
      <%= form.text_field :@item.id %>
  

    <%= form.submit %>

<% end %>
</div>
