<div class ='container'>


  <p>Category</p>

    <%= @item.category %>

  <p>Name </p>


  <p>Photos</p>

      <%= cl_image_tag(@item.public_id) %>


  <p>Description</p>

  <%= @item.description %>


  <% if @item.preloved? %>
    <p> Preloved</p>
  <% else %>
    <p> New </p>
  <% end %>

  <p> posted by <%= @item.user.name %>
 </div>
