/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "static_pages";
@import "links";
body{
    margin:0;
    background-image: asset-url('background_01.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}


h2{
    color:#00849e;
    font-family: 'Roboto Condensed', sans-serif;
}


/*---NAVBAR STARTS-----------------------*/

.navbar{
    padding-bottom:0;
    height:70px;
    background: rgba(0,0,0,0);
}

.giftaway_button{
    width:300px
}

.nav-link{
    // border:1px solid red;
    // color: white !important;
    // text-shadow: 1px 1px 5px #0d606d;
    font-size: 17px;
    font-weight:500;
}

.nav-link:hover{
    color: yellow !important;
}
#hello{
    display:flex;
    align-items:center;
}
#hello:hover{
    color: #256463 !important;
    // text-decoration: none !important;
}

#nav_logo{
    // border:1px solid red;
    width:30%;


    .logo{
    // border:1px solid red;
        width:200px;
        padding:10px;
    }

}


#navbarText{
    // border:1px solid red
}

/*---NAVBAR ENDS-----------------------*/

#top_wrapper{
    // background-image: url()

    width:100%;
    height:600px;
    padding: 10px;
}


#footer {
    background-color: #31c2c3;
    width:100%;
    height:50px;
    margin:0;
    padding: 10px;
    color: white;
}

/*---CARD STARTS-----------------------*/

.main_wrapper{
    width:100%;
    /*border:1px solid red;*/
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.post_wrapper{
 border:1px solid #d3d3d3;
 background-color: white;
 width:300px;
 margin:10px;

}


#photo{

 width:300px;
 height:300px;
 display:flex;
 justify-content:center;
 align-items: center;
 position:relative;

 img{
    width:100%;
    height:300px;
    object-fit:cover;
    object-position: center;
 }
}

.title{
    padding-left:10px;
    font-weight:500;

}

.description_wrapper{
    padding: 0 10px;
    // border:1px red solid

    #description{
        height:30px;
        margin: 10px auto;
        line-height:1.2;
        font-size:15px;
    }
}


#timestamp{
    font-size:12px;
}

#username{
    font-size:12px;
    color:grey;
    a{
        color:grey;
    }
}

.bottom_wrapper{
    height:70px;
    // border:1px solid purple;
    position:relative;
}


.controls{
    font-size:12px;
    margin-bottom:10px;
    display:flex;
    flex-direction:row;
    // border:1px red solid;
    // position: absolute;
    position:absolute;
    bottom:0;
    // right:0;
    a{
        color:grey;
        text-decoration: none;
    }
}

textarea{
    border: 1px solid #d3d3d3;
    width:95%;
    height:100px;
}


#reserved{
    width:100%;
    height:20px;
    border:1px solid #d3d3d3;
    // border:1px solid red;
    background-color:rgba(23, 162, 186, 1);
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    bottom:0;
    color:white;
}

#closed{
    width:100%;
    height:20px;
    border:1px solid #d3d3d3;
    // border:1px solid red;
    background-color:grey;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    bottom:0;
    color:white;
}

.reserved_btn {
    // float:right;
    margin-bottom:10px;
    position:absolute;
    bottom:0.5px;
    right:0;
    // border:1px solid red;
}
/*---CARD ENDS-----------------------*/