// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background{
    width:100%;
    height: 65vh;
    // border: 1px red solid
}


#items_main_wrapper{
    width:100%;
    height:auto;
    // border:1px solid red;
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding:30px;
    color:#676666;
}

#items_inner_wrapper{
    width:80%;
    min-height:700px;
    // border:1px solid purple;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction:row;
    background-color: white;
    box-shadow: 5px 5px 18px #247c7a;
}

#items_left{
    width:40%;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    padding-top:5px;

    img{
        width:98%;
        object-fit:contain;
        border-radius: 20px;
        // border-bottom-left-radius: 20px;
    }

}

#items_right{
    width:60%;
    height:auto;
    // border:1px solid purple;
    padding:20px
}


#items_name{
    // border:1px red solid;
    font-weight: bold;
    font-size: 20px
}

#item_show_username{
    font-size: 12px;
    margin:0;
    a{
        color:grey;
    }
}

#item_attachment{
    margin-top:5px;
}

#form_item_edit_left{
    width:40%;
    height:100%;
    // background-image: url('https://johnlewis.scene7.com/is/image/JohnLewis/furn-lights-tablet-080819?');
    // background-size: cover;
    background-position:right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    padding-top:5px;
     img{
        width:98%;
        object-fit:contain;
        border-radius: 20px;
        // border-bottom-left-radius: 20px;
    }



}



#form_item_new_left{
    width:40%;
    height:100%;
    background-image: url('https://media.istockphoto.com/photos/set-of-home-appliances-refrigerator-washing-machine-microwave-oven-picture-id691429982?k=6&m=691429982&s=612x612&w=0&h=apPRDpuoqZfpeQCyH647LxowNWOO6HHqF_epFye-0x4=');
    background-size: cover;
    background-position:center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*-----COMMENTS BOX STARTS------------------------*/

#comment_box{
    // border:1px solid red;
    background-color:#f3f3f3;
    margin: 10px auto;
    padding:5px;
    border-radius:5px;
}

#comments_controls a{
    color:grey;
    font-size:11px;


}

/*-----COMMENTS BOX ENDS------------------------*/

#items_controls{
    width:100%;
    min-height:30px;
    // background-color:pink;
    display: flex;
    flex-direction:row;
    // justify-content:space-between;
    align-items:center;
    position:relative;
    // border:1px solid red;

}

.item_ctrl{
    // border:1px solid red;

    a{
    color:grey;
    }
}

.item_reserved_btn{
    position:absolute;
    right:0;
    bottom:0.5px;
}

#contacts{
    width:100%;
    background-color:#ececec;
    margin-top:20px;
    padding:5px;
    font-size:13px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:10px;

    .key{
        font-style:italic;
        color:#17a2b8;
    }

    .value{
        margin:0 5px;
    }
    #contacts_left{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
    }

     #contacts_right{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
    }
}

#categories{
    width:100%;
    // height:50px;
    display:flex;
    justify-content:center;
    margin:10px auto;

    img{
        width:100px;
        height:100px;
        margin:0 20px;
    }

    .cat_wrapper{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size:12px;
        font-weight: 500;
        color:#17a2b8;
        // border:1px solid red;
    }

    img:hover{
        transform: rotate(10deg);
        transition: 0.4s;
    }

}